*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lobster', sans-serif;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: #c28d56;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}
body{
    background-color: #f9f9fb;
}
/* Navbar Start */
.navbar{
    padding: 16px 12.5%;
    background-color: #ffd5a8;
    width: 100%;
}
.content .logo img{
    width: 10%;
    cursor: pointer;
}
.navbar nav{
    position: relative;
    display: flex;
    max-width: calc(100% = 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    display: flex;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #080707;
    font-size: 18px;
    padding: 9px 17px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    background-color: #f9f9fb;
    color: #080707;
}
.navbar .search-icon,
.navbar .menu-icon{
    color: #080707;
    font-size: 18px;
    line-height: 70px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.navbar .menu-icon{
    display: none;
}
.navbar #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}
.navbar .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.navbar #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #080707;
    background-color: #ffd5a8;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: #080707;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background-color: #f9f9fb;
    border: none;
    outline: none;
    color: #080707;
    font-size: 20px;
    cursor: pointer;
}
.navbar input[type="checkbox"]{
    display: none;
}

/* Responsive */
@media(max-width:1250px){
    .navbar nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .navbar .search-box{
        max-width: calc(100% - 100px);
    }
    .navbar .search-box input{
        padding:  0 100px 0 15px;
    }
}
@media (max-width:900px){
    .content .logo{
        text-align: center;
    }
    .navbar .menu-icon{
        display: block;
    }
    .navbar #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background-color: #ffd5a8;
        border: 1.5px solid #080707;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100%;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }
}
/* Responsive */

/* Navbar End */


/* Home Section Start */
.home{
    width: 100%;
    height: 90vh;
    background-color: #ffd5a8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
    padding: 100px 12.5% 100px;
    transition: all .50s ease;
}
.home-content{
    flex: 1 400px;
    margin-left: 15px;
}
.img{
    flex: 1 1 150px;
}
.img img{
    width: 100%;
}
.home-content h3{
    color: #080707;
    font-size: 43px;
    font-weight: 600;
}
.home-content p{
    color: #080707;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 6px;
}
#btn{
    width: 150px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    background-color: #c28d56;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
#btn a{
    color: #f9f9fb;
}
#btn i{
    padding: 11px;
    background-color: #f9f9fb;
    color: #080707;
    border-radius: 5px;
}
#btn:hover{
    width: 175px;
}
@media(max-width:900px){
    .home{
        height: auto;
    }

}
@media (max-width:660px){
    .home-content h3{
        font-size: 25px;
    }
}
@media(max-width:597px){
    .home{
        text-align: center;
    }
}
/* Home Section End */


/* Offer Section Start */
.offer{
    padding: 120px 12.5% 120px;
}
.main-text h3{
    font-size: 30px;
    color: #080707;
    font-weight: bold;
}
.main-text h3 span{
    border-bottom: 2px solid #c28d56;
}
.offer .card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    text-align: center;
    gap: 0.90rem;
    margin-top: 30px;
}
.offer .card-content .row{
    padding: 20px;
    background: #ffd5a8;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.offer .card-content .row:hover{
    background: #c28d56;
}
.offer .row img{
    width: 100px;
}
.offer .card-body h3{
    margin-top: 13px;
    font-size: 20px;
    color: #080707;
}
.offer .card-body p{
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 1px;
}
@media(max-width:920px){
    .offer .card-content{
        grid-template-columns: 1fr;
    }
}
/* Offer Section End */


/* Our Menu Start */
.our-menu{
    padding: 100px 12.5% 100px;
    transition: all .50s ease;
}
.heading h1{
    font-size: 30px;
    color: #080707;
    font-weight: bold;
}
.heading h1 span{
    border-bottom: 2px solid #c28d56;
}
.our-menu .card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 0.90rem;
    margin-top: 30px;
}
.our-menu .card-content .row{
    width: 100%;
    padding: 10px;
    background-color: #ffd5a8;
    color: #080707;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
    cursor: pointer;
}
.our-menu .card-content .row:hover{
    background-color: #c28d56;
}
.our-menu .img{
    text-align: center;
}
.our-menu .img img{
    width: 200px;
}
.our-menu .card-body h3{
    margin-top: 15px;
    font-size: 20px;
    color: #080707;
}
.our-menu .card-body p{
    font-size: 15px;
    margin-top: 5px;
    color: #080707;
}
.our-menu .card-body i{
    margin-top: 6px;
    color: orange;
    font-size: 13px;
    margin-left: 5px;
    float: right;
    cursor: pointer;
}
.our-menu .card-body h5{
    font-size: 16px;
    color: #080707;
    margin-top: 10px;
}
.our-menu .card-body h5 button{
    float: right;
    width: 100px;
    height: 20px;
    background-color: #080707;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width:920px){
    .our-menu .card-content{
        grid-template-columns: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    }
}
@media (max-width:951px){
    .our-menu{
        padding: 100px 12% 100px;
        height: auto;
    }
}
/* Our Menu End */


/* Banner Start */
.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner h1{
    color: #f9f9fb;
}
.banner h1 span{
    border-bottom: 2px solid #c28d56;
}
@media (max-width:600px){
    .banner h1{
        font-size: 20px;
    }
}
/* Banner End */


/* Our Popular Menu Start */
.popular-menu{
    padding: 100px 12.5% 100px;
}
.popular-menu h3{
    font-size: 30px;
    color: #080707;
    font-weight: bold;
}
.popular-menu h3 span{
    border-bottom: 2px solid #c28d56;
}
.popular-menu .card-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 0.90rem;
}
.popular-menu .card-content .row{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.popular-menu .card-content .row img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}
.popular-menu .card-content .row:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.1), #c28d56);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: 0.5s ease;
}
.popular-menu .row:hover .layer{
    height: 100%;
}
.layer button{
    background-color: #ffd5a8;
    width: 100px;
    height: 25px;
    color: #080707;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.layer h3{
    font-size: 25px;
    font-weight: 550;
    color: #f9f9fb;
    letter-spacing: 2px;
}
.layer p{
    font-weight: 500;
    color: #f9f9fb;
    letter-spacing: 1px;
}
@media(max-width:920px){
    .popular-menu .card-content{
        grid-template-columns: 1fr;
    }
}
/* Our Popular Menu End */


/* About Section Start */
.about{
    padding: 0px 12.5% 0px;
    height: 100vh;
    background-color: #ffd5a8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    transition: all .50s ease;
}
.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    background-color: #c28d56;
    border-radius: 10px;
    transition: all .50s ease;
    cursor: pointer;
}
.about-info h6{
    margin-bottom: 10px;
    font-size: 15px;
    color: #c28d56;
}
.about-info h3{
    color: #080707;
    font-size: 30px;
    line-height: 1;
}
.about-info p{
    color: #080707;
    font-size: 15px;
    margin-bottom: 2rem;
    margin-top: 10px;
}
.about-btn{
    width: 150px;
    height: 36px;
    font-weight: bold;
    background-color: #c28d56;
    color: #f9f9fb;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}      
.about-btn:hover{
    width: 165px;
}
@media(max-width:920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    @media(max-width:951px){
        .about{
            padding: 100px 12% 100px;
            height: auto;
        }
    }
}
/* About Section End */


/* Order Section Start */
.order{
    padding: 100px 12.5% 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    transition: all .50s ease;
}
.order h3{
    font-size: 30px;
    color: #080707;
    font-weight: bold;
}
.order h3 span{
    border-bottom: 2px solid #c28d56;
}
.order-info{
    margin-bottom: 10px;
}
.order-info p{
    margin-top: 15px;
    font-size: 13px;
    color: #080707;
}
.list{
    margin-top: 10px;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color: #080707;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
}
.social i{
    padding: 10px;
    background: transparent;
    color: #ffd5a8;
    border: 2px solid #ffd5a8;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.social i:hover{
    background-color: #ffd5a8;
    color: #080707;
}
.order-form form{
    position: relative;
}
.order-form form input,
form textarea{
    width: 100%;
    padding: 10px;
    background-color: #ffd5a8;
    color: #080707;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.order-form textarea{
    resize: none;
    height: 160px;
}
.order-form input::placeholder{
    color: #080707;
}
.order-form textarea::placeholder{
    color: #080707;
}
.order-form .submit{
    display: inline-block;
    font-size: 15px;
    background-color: #ffd5a8;
    color: #080707;
    width: 160px;
    transition: 0.5s;
    cursor: pointer;
}
.order-form .submit:hover{
    width: 175px;
}
@media(max-width:920px){
    .order{
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}
@media(max-width:951px){
    .order{
        padding: 100px 12% 100px;
        height: auto;
    }
}
/* Order Section End */


/* Review Section Start */
.reviews{
    padding: 100px 12.5% 100px;
}
.reviews h3{
    font-size: 30px;
    color: #080707;
    font-weight: bold;
}
.reviews h3 span{
    border-bottom: 2px solid #c28d56;
}
.review-card{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 0.90rem;
}
.review-card .row{
    position: relative;
    overflow: hidden;
    border: 2px solid #ffd5a8;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}
.review-card .row:hover{
    background-color: #ffd5a8;
}
.reviews .rating{
    padding: 10px;
}
.checked{
    color: orange;
}
.reviews p{
    color: #080707;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
}
.reviews h6{
    padding: 10px;
    color: #080707;
}
.reviews h6 img{
    width: 10%;
}
@media (max-width:920px){
    .review-card{
        grid-template-columns: 1fr;
    }
}
@media (max-width:951px){
    .reviews{
        padding: 100px 12% 100px;
        height: auto;
    }
}
/* Review Section End */


/* Footer Start */
footer{
    width: 100%;
    background-color: #ffd5a8;
}
.logo img{
    width: 50px;
}
.footer-content{
    text-align: center;
    padding-top: 5%;
}
.footer-content p{
    color: #080707;
    font-weight: 550;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 13px;
}
.socail-links i{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #080707;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.socail-links i:hover{
    background-color: #c28d56;
    color: #f9f9fb;
}
.hr{
    width: 100%;
    height: 1.5px;
    background-color: #080707;
}
.footer-bottom{
    text-align: center;
    background-color: #ffd5a8;
}
.footer-bottom p{
    color: #080707;
    font-size: 15px;
}
.footer-bottom p a{
    color: #080707;
    font-weight: 600;
}
/* Footer End */